{% include "header.html" %}
<!-- main content -->
<div class="container-fluid " style = "margin-top:100px">
  <div class="row justify-content-md-center container d-flex mx-auto">
    <h1 data-translator-en="Users" data-translator-es="Usuarios">Users</h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th data-translator-en="User id" data-translator-es="ID de usuario">User id</th>
            <th data-translator-en="User Name" data-translator-es="Nombre de usuario">User Name</th>
            <th data-translator-en="Verified" data-translator-es="Verificado">VErified</th>
            <th data-translator-en="User Group" data-translator-es="Grupo">User Group</th>
            <!--th>User Address</th-->
            <th data-translator-en="User date" data-translator-es="Fecha">User date</th>
          </tr>
        </thead>
        <tbody>
          {% for i in users%}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.verified }}</td>
            <td>{{ i.group }}</td>
            <!--td>{{ i.address }}</td-->
            <td>{{ i.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <form method="POST" action="{{ url_for('baker_users') }}">
    {{ form.csrf_token() }}
    <div class>{{ form.users_to_delete}}
    </div>
    <div class="mx-auto" style="height: 10px;">
    </div>
    <div class="justify-content-center container d-flex"><input type="submit" value="Delete" class="btn btn-dark" data-translator-en="Delete" data-translator-es="Eliminar">
    </div>
  </form>
</div>
</div>
{% include "footer.html" %}