{% include "header.html" %}
<!-- main content -->
<div class="container-fluid " style = "margin-top:100px">
  <div class="row justify-content-md-center container d-flex mx-auto">
    <div class="table-responsive">
         <form method="POST" action="{{ url_for('index') }}">
          <table class="table table-hover">
          {{ order_form.csrf_token() }}
              <h1 id="heading-bread" data-translator-en="Bread" data-translator-es="Pan">Bread</h1>
              <tbody>
              {% for p in bread %}
              <tr>
                <td class="align-middle">{% if lang == 'es' %}{{ p.display_name_es or p.display_name or (p.name|replace('_',' ')) }}{% else %}{{ p.display_name or (p.name|replace('_',' ')) }}{% endif %}</td>
                <td class="align-middle">{{ '%.2g'|format(p.price) }}€</td>
                <td class="align-middle" style="flex-wrap: wrap">{% if p.name in order_form %}{{ order_form[p.name](style="width:50px") }}{% endif %}</td>
                <td class = "d-none d-md-block"><img src="static/img/{{ p.name|replace('_',' ') }}.jpg" alt="Image of {% if lang == 'es' %}{{ p.display_name_es or p.display_name or p.name }}{% else %}{{ p.display_name or p.name }}{% endif %}" class="img-thumbnail  bg-dark text-white" style="width:200px;height:123.6067px"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        <!-- Sweet section (future products) -->
        <table class="table table-hover">
          <h1 id="heading-sweet" data-translator-en="Sweet" data-translator-es="Dulces">Sweet</h1>
        <tbody>
          {% for p in sweet %}
          <tr>
            <td class="align-middle">{% if lang == 'es' %}{{ p.display_name_es or p.display_name or (p.name|replace('_',' ')) }}{% else %}{{ p.display_name or (p.name|replace('_',' ')) }}{% endif %}</td>
            <td class="align-middle">{{ '%.2g'|format(p.price) }}€</td>
            <td class="align-middle" style="flex-wrap: wrap">{% if p.name in order_form %}{{ order_form[p.name](style="width:50px") }}{% endif %}</td>
            <td class = "d-none d-md-block"><img src="static/img/{{ p.name|replace('_',' ') }}.jpg" alt="Image of {% if lang == 'es' %}{{ p.display_name_es or p.display_name or p.name }}{% else %}{{ p.display_name or p.name }}{% endif %}" class="img-thumbnail bg-dark text-white" style="width:200px;height:123.6067px"> </td>
          </tr>
          {% else %}
          <tr><td class="align-middle text-muted">No sweet products yet</td></tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Savory section (future products) -->
      <table class="table table-hover">
        <h1 id="heading-savory" data-translator-en="Savory" data-translator-es="Salados">Savory</h1>
      <tbody>
        {% for p in savory %}
        <tr>
          <td class="align-middle">{% if lang == 'es' %}{{ p.display_name_es or p.display_name or (p.name|replace('_',' ')) }}{% else %}{{ p.display_name or (p.name|replace('_',' ')) }}{% endif %}</td>
          <td class="align-middle">{{ '%.2g'|format(p.price) }}€</td>
          <td class="align-middle" style="flex-wrap: wrap">{% if p.name in order_form %}{{ order_form[p.name](style="width:50px") }}{% endif %}</td>
          <td class = "d-none d-md-block"><img src="static/img/{{ p.name|replace('_',' ') }}.jpg" alt="Image of {% if lang == 'es' %}{{ p.display_name_es or p.display_name or p.name }}{% else %}{{ p.display_name or p.name }}{% endif %}" class="img-thumbnail bg-dark text-white" style="width:200px;height:123.6067px"> </td>
        </tr>
        {% else %}
        <tr><td class="align-middle text-muted">No savory products yet</td></tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  <div class="mx-auto d-md-none d-block" style="width:100%;height: 10px;"></div>
  {% if not current_user.is_authenticated: %}<div class="mx-auto d-none d-md-block"><h4 id="must-login" data-translator-en="Must use your account to log in" data-translator-es="Debe usar su cuenta para iniciar sesión">Must use your account to log in</h4></div>
  <div class="mx-auto d-md-none d-block"><h6 id="must-login-mobile" data-translator-en="Must use your account to log in" data-translator-es="Debe usar su cuenta para iniciar sesión">Must use your account to log in</h6></div>
  {% endif %}
  {% if current_user.is_authenticated: %}
    <div class="container-fluid position-absoulte">
      <div class="container align-self-center" style="margin-top:100px">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="bottom:0">
          <ul class="list-group list-group-flush">
            {% if errors[3] %}<li class="list-group-item align-self-center"><span style="color:red">{{errors[3]}}</span></li>{% endif %}
            {% if errors[2] %}<li class="list-group-item align-self-center"><span style="color:red">{{errors[2]}}</span></li>{% endif %}
           <li class="list-group-item align-self-center">{{order_form.date}}<span style="color:red">{% if errors[0] %}{{errors[0]}}{% endif %}</span></li>
           <li class="list-group-item align-self-center">{{order_form.day_time(style="width:120px")}}<span style="color:red">{% if errors[1] %}{{errors[1]}}{% endif %}</span></li>
           <li class="list-group-item align-self-center">{{order_form.recurring(style="width:120px")}}</li>
             <li id="consecutive-weeks" class="list-group-item align-self-center" data-translator-en="Number of consecutive weeks to order" data-translator-es="Número de semanas consecutivas para pedir">Number of consecutive weeks to order</li>

           <li class="list-group-item align-self-center"><input id="order-submit" type="submit" value="order" class="btn btn-dark" data-translator-en="order" data-translator-es="pedir"></li>
              </ul>
           </div>
          </div>
        </div>
      </div>
    {% endif %}
    </form>
  </div>
</div>
<!-- footer -->
{% include "footer.html" %}
