{% include "cabezera.html" %}
<div class="container-fluid " style = "margin-top:100px">
    <div class="row justify-content-md-center container d-flex mx-auto">
      <h1 style="font-size: 3.4rem;">El pan</h1>
      <p class="text-center"  style="font-size: 1.4rem;">Nuestro pan de masa madre artesanal, elaborado con los mejores ingredientes, es la continuación de una tradición familiar. Cada hogaza es sometida a una larga fermentación con masa madre natural y un poco de levadura de panadero, sin añadir aditivos ni conservantes. Este proceso genera un delicioso y nutritivo pan.

      <p class="text-center" style="font-size: 1.4rem;">Cada hogaza de nuestro pan es única y hecha a mano por un panadero que dedica su tiempo y pasión para crear un producto de singular calidad. Disfruta del verdadero sabor del pan de masa madre artesanal y ecológico!</p>
    </div>
    <div class="row justify-content-md-center container d-flex mx-auto">
      <h1 class="text-center" style="font-size: 3.4rem;">El pedido</h1>
      <p class="text-center" style="font-size: 1.4rem;">De momento se pueden realizar pedidos que serán entregados en los siguientes periodos. Esperamos poder ampliar los pedidos en un futuro próximo</p>
      <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Lunes</td>
            <td class="text-center" style="font-size: 1.4rem;">Tarde</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Martes</td>
            <td class="text-center" style="font-size: 1.4rem;">Tarde</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Miercoles</td>
            <td class="text-center" style="font-size: 1.4rem;">Tarde</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Jueves</td>
            <td class="text-center" style="font-size: 1.4rem;">Tarde</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Viernes</td>
            <td class="text-center" style="font-size: 1.4rem;">-</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Sabado</td>
            <td class="text-center" style="font-size: 1.4rem;">-</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;">Domingo</td>
            <td class="text-center" style="font-size: 1.4rem;">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- footer -->
{% include "footer.html" %}