{% include "header.html" %}
<div class="container-fluid " style = "margin-top:100px">
    <div class="row justify-content-md-center container d-flex mx-auto">
      <h1 style="font-size: 3.4rem;" class="text-center">The bread</h1>
      <p class="text-center" style="font-size: 1.4rem;">Our traditional, organic sourdough bread handcrafted from the best ingredients, is the continuation of a family tradition. Each loaf undergoes a lenghty fermentation with natural sourdough and a small amount of baker's yeast, without adding any additives or preservatives, resulting in a delicious, and nutritious product.</p>

      <p class="text-center" style="font-size: 1.4rem;">Every loaf of our bread is unique, handcrafted by a baker who dedicates his time and passion to creating a product that nourishes both body and soul. Enjoy the true taste of artisanal and organic sourdough bread!</p>
    </div>
    <br>
    <div class="row justify-content-md-center container d-flex mx-auto">
      <h1 class="text-center" style="font-size: 3.4rem;">Ordering</h1>
      <p class="text-center" style="font-size: 1.4rem;">Bread can be ordered to be delivered in the the in the following periods of the week. We hope to expand this in the future</p>
      <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Monday</td>
              <td class="text-center" style="font-size: 1.4rem;">Evening</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Tuesday</td>
              <td class="text-center" style="font-size: 1.4rem;">Evening</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Wednesday</td>
              <td class="text-center" style="font-size: 1.4rem;">Evening</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Thursday</td>
              <td class="text-center" style="font-size: 1.4rem;">Evening</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Friday</td>
              <td class="text-center" style="font-size: 1.4rem;">-</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Saturday</td>
              <td class="text-center" style="font-size: 1.4rem;">-</td>
            </tr>
            <tr>
              <td class="text-center" style="font-size: 1.4rem;">Sunday</td>
              <td class="text-center" style="font-size: 1.4rem;">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<!-- footer -->
{% include "footer.html" %}