{% include "cabezera.html" %}
<div class="container-fluid " style = "margin-top:100px">
    <div class="row justify-content-md-center container d-flex mx-auto">
      <h1 style="font-size: 3.4rem;" data-translator-en="The Bread" data-translator-es="El pan">The Bread</h1>
      <p class="text-center"  style="font-size: 1.4rem;" data-translator-en="Our sourdough bread is made with the finest ingredients and follows a family tradition. Each loaf undergoes long fermentation with natural starter and a touch of baker's yeast, without additives or preservatives, resulting in a delicious and nutritious bread." data-translator-es="Nuestro pan de masa madre artesanal, elaborado con los mejores ingredientes, es la continuación de una tradición familiar. Cada hogaza es sometida a una larga fermentación con masa madre natural y un poco de levadura de panadero, sin añadir aditivos ni conservantes. Este proceso genera un delicioso y nutritivo pan.">Our sourdough bread is made with the finest ingredients and follows a family tradition. Each loaf undergoes long fermentation with natural starter and a touch of baker's yeast, without additives or preservatives, resulting in a delicious and nutritious bread.</p>

      <p class="text-center" style="font-size: 1.4rem;" data-translator-en="Each loaf is handcrafted by a baker who devotes time and passion to create a product of singular quality. Enjoy the true flavor of artisanal, organic sourdough bread!" data-translator-es="Cada hogaza de nuestro pan es única y hecha a mano por un panadero que dedica su tiempo y pasión para crear un producto de singular calidad. Disfruta del verdadero sabor del pan de masa madre artesanal y ecológico!">Each loaf is handcrafted by a baker who devotes time and passion to create a product of singular quality. Enjoy the true flavor of artisanal, organic sourdough bread!</p>
    </div>
    <div class="row justify-content-md-center container d-flex mx-auto">
      <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
      <table class="table table-hover">
        <tbody>
          <tr>
          <h1 class="text-center" style="font-size: 3.4rem;" data-translator-en="Ordering" data-translator-es="El pedido">Ordering</h1>
          <p class="text-center" style="font-size: 1.4rem;" data-translator-en="Currently orders can be placed for the following delivery periods. We hope to expand ordering options in the near future." data-translator-es="De momento se pueden realizar pedidos que serán entregados en los siguientes periodos. Esperamos poder ampliar los pedidos en un futuro próximo">Currently orders can be placed for the following delivery periods. We hope to expand ordering options in the near future.</p>
                      <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Monday" data-translator-es="Lunes">Monday</td>
                      <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Afternoon" data-translator-es="Tarde">Afternoon</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Tuesday" data-translator-es="Martes">Tuesday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Afternoon" data-translator-es="Tarde">Afternoon</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Wednesday" data-translator-es="Miercoles">Wednesday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Afternoon" data-translator-es="Tarde">Afternoon</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Thursday" data-translator-es="Jueves">Thursday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Afternoon" data-translator-es="Tarde">Afternoon</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Friday" data-translator-es="Viernes">Friday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="-" data-translator-es="-">-</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Saturday" data-translator-es="Sabado">Saturday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="-" data-translator-es="-">-</td>
          </tr>
          <tr>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="Sunday" data-translator-es="Domingo">Sunday</td>
            <td class="text-center" style="font-size: 1.4rem;" data-translator-en="-" data-translator-es="-">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- footer -->
{% include "footer.html" %}