{% include "header.html" %}
<!-- main content -->
<div class="row justify-content-md-center container d-flex mx-auto">
      <h1 data-translator-en="Monthly report" data-translator-es="Informe Mensual">Monthly report</h1>
</div>
<div class="container-fluid " style = "margin-top:100px">
    <div class="row justify-content-md-center container d-flex mx-auto">
        <h2 data-translator-en="Accounting Info" data-translator-es="Información Contable">Accounting Info</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
        <table class="table table-hover">
          <tbody>
              <tr>
                <td></td>
                   <td data-translator-en="Gross Income" data-translator-es="Ingresos Brutos">Gross Income</td>
                   <td data-translator-en="Production costs" data-translator-es="Costes de Producción">Production costs</td>
                   <td data-translator-en="Benefits" data-translator-es="Beneficios">Benefits</td>
                   <td data-translator-en="Sold Loaves" data-translator-es="Pan Vendido">Sold Loaves</td>
                   <td data-translator-en="Sold Sticks" data-translator-es="Palitos Vendidos">Sold Sticks</td>
              </tr>
              <tr>
                   <td data-translator-en="Previous month" data-translator-es="Mes Anterior">Previous month</td>
                <td>{{ data.past_month["gross"] }}</td>
                <td>{{ data.past_month["costs"] }}</td>
                <td>{{ data.past_month["benefit"] }}</td>
                <td>{{ data.past_month["loaves"] }}</td>
                <td>{{ data.past_month["sticks"] }}</td>
              </tr>
              <tr>
                   <td data-translator-en="Current month" data-translator-es="Mes Actual">Current month</td>
                <td>{{ data.present_month["gross"] }}</td>
                <td>{{ data.present_month["costs"] }}</td>
                <td>{{ data.present_month["benefit"] }}</td>
                <td>{{ data.present_month["loaves"] }}</td>
                <td>{{ data.present_month["sticks"] }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="container-fluid " style = "margin-top:100px">
  <div class="row justify-content-md-center container d-flex mx-auto">
        <h2 data-translator-en="Bread ordered last month" data-translator-es="Pan pedido el mes pasado">Bread ordered last month</h2>
  </div>
</div>   
<div class="row justify-content-md-center">
  <div class="table-responsive" style="padding-left: 10%;padding-right: 10%;">
    <table class="table table-hover">
      <thead>
        <th>Bread type</th>
        <th>Number</th>
      </thead>
      {% for i in data.num_breads.keys() %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ data.num_breads[i] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>



<!-- footer -->
{% include "footer.html" %}